<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttran.nbbus.mapper.master.Us1cDrWorkSalaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ttran.nbbus.pojo.po.Us1cDrWorkSalaPo">
        <result column="work_id" property="workId" />
        <result column="name" property="name" />
        <result column="work_hour" property="workHour" />
        <result column="date" property="date" />
        <result column="base_hour" property="baseHour" />
        <result column="base_sala" property="baseSala" />
        <result column="over_hour" property="overHour" />
        <result column="over_sala" property="overSala" />
        <result column="work_sala" property="workSala" />
        <result column="work_day" property="workDay" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        work_id, `name`, work_hour, `date`, base_hour, base_sala, over_hour, over_sala, work_sala, work_day
    </sql>

</mapper>
